<div class="container-header header">
	<div class="header-div">
		<div class="header-pic-div tablet-center">
			<a href="{{ page.base_url }}"><img id="profile-pic" src="{{ page.base_url }}static/img/profile-pic.jpg"></a>
		</div>
		<div class="header-info-div tablet-center">
			<div class="center">
				<div class="header-name"><a id="name" href="{{ page.base_url }}">Quinn</a></div>
			<div class="header-blurb">Software Engineer</div>
		</div>
		<div class="icon-div">
		</div>
		
	</div>
</div>
</div>

