<div class="container-header header">
	<div class="header-div">
		
		<div class="header-info-div">
			<div class="header-name">
				<a id="name" href="{{ page.base_url }}">Quinn<br>Romanek</a>
			</div>
			<div class="header-blurb">
				Software Engineer
			</div>
		</div>
		<div class="header-pic-div">
			<a href="{{ page.base_url }}"><img id="profile-pic" src="{{ page.base_url }}static/img/profile-pic.jpg"></a>
		</div>
		<div class="icon-div">
			<a href="http://www.github.com/quinnromanek">Github</a> &middot; <a href="https://www.linkedin.com/profile/view?id=275858187">LinkedIn</a>
		</div>
	</div>
</div>